@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.text-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.text-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.text-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.text-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}