:root {
  --font-size: 10px;
  --gap-xxl: 3.5rem;
  --gap-xl: 3rem;
  --gap-lg: 2.5rem;
  --gap-md: 2rem;
  --gap-sm: 1.5rem;
  --gap-xs: 1rem;
  --gap-xxs: 0.5rem;

  --font-xxs: 1.2rem;
  --font-xs: 1.4rem;
  --font-sm: 1.6rem;
  --font-md: 1.8rem;
  --font-lg: 2rem;
  --font-xl: 2.2rem;
  --font-xxl: 2.4rem;

  --gray-light: #f0eff1;
  --gray-mid: #bdbdbd;
  --gray-dark: #89888c;

  --purple-1: #dcd7e7;
  --purple-2: #f4f1fc;
  --purple-3: #fbfafc;
  --purple-4: #f7f5fa;
  --purple-dark: #403654;
  --purple-light: rgba(64, 54, 84, 0.7);

  --orange: #f6873d;
  --orange-dark: #e37329;

  --green-content: #4fc082;
  --green-bg: #eafbef;

  --red-content: #e24343;
  --red-bg: #fae8e8;

  --dark-gradient: linear-gradient(269.92deg, #2e2838 0.02%, #342e3f 97.55%);
  --dark: #322c3d;

  --warning: #ffcc00;
}
